<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>

		<add name="ConnectionStringOracle"
			 connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=dbsys.cs.vsb.cz)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=oracle)));User Id=TRA0163;Password=QJLTynhVrP5x6354;Connection Timeout=45;"/>

		<add name="ConnectionStringMsSql" connectionString="server=dbsys.cs.vsb.cz\sqldb;database=TRA0163;user=TRA0163;password=c6gVqj98LyWLHn5y;Encrypt=false"/>

	</connectionStrings>

</configuration>